{% extends 'base.html.twig' %}
{% block title %}Les prix de la critique{% endblock %}
{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container menu">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    {% image '@AppBundle/Resources/logos/logo.png' %}
                    <img class=logo src="{{ asset_url }}" alt="logo td"/>
                    {% endimage %}</a>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Historique</a></li>
                    <li><a href="#">Jury</a></li>
                    <li><a href="#">Liens</a></li>
                </ul>
            </div>
            <p class="navbar-text">
            <h1>{{ pageTitle }}</h1></p>
        </div>
    </nav>
    <div class="container mainbody">
        <row>
            <div class="col-md-8 col-md-offset-2 ">
                {% block content %}
                {% endblock %}
            </div>
        </row>
    </div>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block javascript %}
    {{ parent() }}
{% endblock %}

