{% extends 'template.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>
                Des Eve en Tenue de Ville, du brigadier au diplôme, du théâtre à la critique, des années fastes et
                d'autres silencieuses... L'histoire des Prix de la Critique -Théâtre et Danse n'a pas suivi le
                cours d'un long fleuve tranquille. Cette unique reconnaissance des artistes de la scène en
                Communauté française a tressé ses premiers lauriers en 1952. En ce temps-là, L'Union de la presse
                théâtrale, présidée par Robert Chesselet, récompensait une comédienne, un comédien et offrait un
                prix triennal à un metteur en scène. Ni monnaie sonnante et trébuchante, ni couronne de laurier:
                les élus recevaient une statuette, une Eve..., une lointaine cousine d'un oncle d'Amérique nommé
                Oscar! Rappelons qu'en ces temps anciens, Paris n'avait pas encore imaginé ses Molière. </p>
            <p>En 1973,
                Jacques Franck prit la présidence de l'Union et les Eves du théâtre ronronnèrent jusqu'en 1978 puis
                disparurent trois ans en coulisses, dans la foulée de quelques incidents contestataires, notamment
                dans les rangs des jeunes compagnies. </p>
            <p>Dès 1982, les critiques de théâtre s'associent avec ceux de la
                variété sous le patronyme de l'Association de la Presse du Spectacle et ajoutent à leur menu un prix
                des Variétés. En 1987, Catherine Degan reprend le flambeau de la présidence. Sous son impulsion, les
                Eves se multiplient: Eve de l'écriture dramatique, de la découverte, de la danse, de la contribution
                artistique, du spectacle, Eve d'honneur... Des Eves, que sculpte désormais René Hausman. De
                nouvelles turbulences font retomber le rideau une nouvelle fois, de 1993 à 1995. </p>
            <p>Un an plus tard,
                Bernadette Abraté réveille les belles endormies et incite Philippe Lenghor, créateur d'une nouvelle
                revue consacrée au spectacle, à décerner des prix Tenue de Ville (du nom de sa revue). Rebaptisée
                Prix du Théâtre en 1998, dotée d'une asbl que préside depuis 2004 Christian Jade, leur existence n'a
                plus été remise en question, même si l'écrin de la cérémonie de proclamation mue d'année en année,
                jusqu'à se transformer, les années fastes, en authentiques spectacles. Le jury de critiques de
                théâtre et de danse n'a cessé de diversifier la palette des récompenses. Aujourd'hui, treize
                artistes sont couronnés chaque saison, et depuis 2003, en mémoire de Bernadette Abraté
                (disparue en 2002), un quatorzième prix porte son nom. Quant aux Eves de Hausman, elles ont passé la
                main à d'éphémères petits bonshommes à chapeau imaginés par Serge Vandercam, symboles des Prix
                Tenue de Ville, qui seront eux-mêmes remplacés dès 1999 par des brigadiers, ces longs bâtons garnis
                de manchon de velours rouge et cloutés de cuivre. Objet certes un rien encombrant et chargé de
                nostalgie d'une scène d'autrefois. </p>
            <p>Depuis 2004, lors d'une cérémonie sobre qui se veut fête et
                rencontre de tous les théâtres, de toutes les esthétiques, un diplôme scelle l'élection des
                artistes. Pour coller davantage à la réalité de son fonctionnement, l'asbl s'est rebaptisée en 2006
                Prix de la critique et a choisi l'itinérance. La géographie du paysage théâtral de la Communauté
                française incite à ce voyage entre Bruxelles et la Wallonie. M.F.
            </p>
        </div>
    </div>
{% endblock %}