{% extends 'template.html.twig' %}
{% block content %}
    <ul>

        <li><a href="http://www.alternativestheatrales.be/intro.html" target="_blank">Alternatives Theatrales</a></li>

        {#<li><a href="http://www.arte-belgique.be" target="_blank">Arte Belgique</a></li>#}

        <li><a href="http://www.aml-cfwb.be/aspasia/">Aspasia</a></li>

        <li><a href="http://www.lansman.org" target="_blank">Editions Lansman</a></li>

        <li><a href="http://www.bellone.be" target="_blank">Maison de la Bellone</a></li>

        <li><a href="http://www.lalibre.be" target="_blank">La Libre</a></li>

        <li><a href="http://www.lesoir.be" target="_blank">Le Soir</a></li>

        <li><a href="http://www.levif.be" target="_blank">Le vif L'Express</a></li>

        <li><a href="http://www.rtbf.be" target="_blank">Rtbf</a></li>

        <li><a href="http://www.rtbf.be/culture/chronique/archive_christian-jade?chroniqueurId=7754751" target="_blank">Rtbf
                Christian Jade</a></li>

        <li><a href="http://www.artscene.cfwb.be" target="_blank">Le Centre des Arts de la Scène</a></li>

        <li><a href="http://www.uniondesartistes.be" target="_blank">L'Union des Artistes</a></li>

        <li><a href="http://www.prixjacqueshuisman.be" target="_blank">Prix Jacques Huisman</a></li>

    </ul>
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
