{% extends 'template.html.twig' %}
{% block content %}
{#<div class="row">#}
    {#<div class="col-md-12">#}
        <!--
        <div class="col-md-offset-3 col-md-6 justified">
        -->
        <p class='partenaire'><a style="float: left"
                                 href="http://www.cfwb.be/" target='_blank'> <img class='logo'
                                                                                  src={{ asset('logos/logo_bandeau.png') }} alt='logo_cf'></a><b></b><br/><br/><br/><br/><br/>
            <!-- Cette année encore, les spectacles et les artistes nominés aux Prix de la critique attestent de la qualité du théâtre et de la danse en Fédération Wallonie‑Bruxelles.  Leurs démarches créatrices appartiennent aux arts vivants, ancrés dans notre temps et dans nos réalités quotidiennes. -->

            <!-- Ces prix valorisent particulièrement les créations et les artistes lauréats. Outre la distinction de personnalités singulières, ils récompensent aussi les équipes qui ont permis à ces œuvres, à ces prestations et à ces spectacles d’être remarquables et remarquées.  -->

            <!-- Ils sont, faut-il le rappeler, le fruit d’une conjonction d’imaginaires, d’énergies et de compétences qui ont concouru à leur élaboration, à leur réalisation scénique et à leurs représentations publiques. -->

            <!-- Ce sont donc l’ensemble des métiers du spectacle qui sont honorés ce soir. -->

            <!-- Permettez-moi dès lors de congratuler les lauréats, les artistes et les équipes des spectacles nominés ainsi que tous les professionnels qui irriguent chaque saison nos imaginaires et nos pensées. -->

            <!-- Bonne soirée à toutes et à tous.<br /> -->
            <!--
            A travers la désignation de nominés et de lauréats, je me réjouis que cette soirée soit l’occasion de promouvoir votre travail et d’honorer des personnalités marquantes du théâtre et de la danse en Fédération Wallonie-Bruxelles.
            C’est la raison pour laquelle je renouvelle cette année encore mon soutien à son organisation.
            La promotion, comme l’exploitation nationale et internationale de vos créations est un enjeu primordial. Personne ne répète un spectacle durant plusieurs semaines avec l’ambition de le jouer pour une série limitée de représentations.
            Au niveau international, Monsieur le Ministre Président Rudy DEMOTTE et moi-même, n’avons cessé de renforcer la complémentarité d’action entre les politiques de soutien à la création et celles relatives aux relations internationales.
            Aujourd’hui, grâce aux collaborations entre Wallonie-Bruxelles International et Wallonie-Bruxelles Théâtre/Danse, les dispositifs de soutien ont été élargis. Par exemple, des aides sont accordées pour la prospection, et une promotion ciblée et concertée avec nos compagnies et nos théâtres est menée dans les festivals et dans les réseaux professionnels étrangers.
            S’inscrivant dans cette dynamique, les Doms, ProPulse, Objectif Danse ou encore Wallonie Bruxelles-Paris contribuent à la mise en œuvre des objectifs que nous nous sommes fixés.
            Dans l’esprit de l’accord de coopération culturelle entre la Communauté flamande et la Fédération Wallonie-Bruxelles, qui vient d’obtenir l’assentiment du Parlement, je peux aussi vous annoncer que WBTD construit des collaborations avec le Vlaams Theater Instituut en vue de promouvoir ensemble, lors de certains événements, le travail des créateurs du nord et du sud du pays. 
            Je m’attèle aussi à favoriser la diffusion de vos œuvres à Bruxelles et en Wallonie. Le projet de décret relatif aux centres culturels, que je soumettrai au Parlement avant la fin de cette année, autorise la reconnaissance d’une action culturelle spécialisée de diffusion des arts de la scène assumée par un centre culturel. Ce dispositif prévoit des obligations de programmation d’artistes soutenus par la Fédération Wallonie-Bruxelles.
            Malgré l’impact de la crise économique sur les budgets de la Fédération Wallonie-Bruxelles et de vos structures, je m’efforce de faire évoluer les cadres qui permettent de stimuler et d’accompagner le développement des arts que vous pratiquez.
            A cet égard, je tiens également à mettre l’accent sur la consolidation des collaborations entre nos structures théâtrales et chorégraphiques, sur les complémentarités à définir en vue d’unir leurs énergies et leurs moyens d’action dans la création, la diffusion et dans la médiation des œuvres.
            Je vous souhaite une excellente soirée à toutes et tous ainsi qu’une exceptionnelle saison 2013/2014.</p>
            <p class='signature'>Fadila Laanan Ministre de la Culture, de l’Audiovisuel,
            de la Santé et de l’Egalité des Chances</p>
            -->


        <p class='partenaire'><a style="float: left"
                                 href="http://www.bellone.be" target='_blank'><img class='logo'
                                                                                   src={{ asset('logos/logo_Bellone.png') }} alt='rw'>
            </a> <b>La Bellone,
                Maison du Spectacle</b><!--fête cette année ses 30 ans-->
            <!--
            Continuant à remplir ses missions de lieu de la mémoire vivante, de forum et de vitrine des
            arts de la scène, La Bellone assure aujourd’hui également un soutien à
            la pré-production de projets et s’implique dans la formation continuée
            des professionnels du spectacle, à travers la direction du programme
            Cifas (suite…). Devenue un véritable « centre nerveux du spectacle
            vivant », ses activités se sont démultipliées, également hors les murs,
            à travers des collaborations à Bruxelles, en Wallonie, en Flandre et à
            l’étranger.  <br /><div class="signature"></div></p>
            -->
            est un lieu dédié à la recherche et à la réflexion, en d’autres mots un outil de dramaturgie, pour les
            artistes du secteur des arts scéniques. Pour ce faire, La Bellone organise des conférences, des ateliers,
            des résidences, des expositions ainsi que multiple rendez-vous avec des artistes, des spécialistes et des
            penseurs. De plus, la Bellone nourrit, via son Centre de documentation théâtre, les chercheurs avec sa vaste
            base de données, qui est composée d’articles de presse et d’articles extraits de revues théâtrales
            spécialisées. Aussi, La Bellone co-organise certaines de ces activités en collaboration avec des partenaires
            locaux, nationaux et internationaux, et, le plus souvent possible, avec ses  associations résidentes dont Le
            CIFAS, Contredanse, Le Réseaux des Arts, Le Guichet des Arts, Les midis de la poésie.

            <br/>
            <div class="signature">Mylène Lauzon / Directrice</div>
        </p>
        <br/>

         


        <!--
        <p class='partenaire'><a style="float: left"
        href="http://www.cfwb.be/" target='_blank'><img class='logo'
        src='<? /*echo $this->baseUrl() */?>/logos/logo_varia_2_mini.png' alt='cf'></a>
        -->

        <!-- <b>Le Centre chorégraphique de la Communauté française Wallonie-Bruxelles</b> est issu de -->
        <!-- l’ancien Ballet royal de Wallonie et s’est orienté de manière radicale -->
        <!-- vers la création contemporaine. Institution de référence, non seulement -->
        <!-- en Communauté française Wallonie-Bruxelles mais également sur le plan -->
        <!-- international, Charleroi/Danses est dirigé depuis 2006 par un quatuor -->
        <!-- artistique composé de Michèle Anne De Mey, Pierre Droulers, Thierry De -->
        <!-- Mey et Vincent Thirion. Les activités de Charleroi/Danses se déroulent -->
        <!-- aux Écuries, ancien manège de la gendarmerie (Charleroi) et à La -->
        <!-- Raffinerie, ancienne raffinerie de sucre Gräffe (Bruxelles). Les Ecuries -->
        <!-- accueillent chaque saison plus de 20 spectacles de danse contemporaine. -->
        <!-- Elles sont par ailleurs l’un des sièges de la Biennale de -->
        <!-- Charleroi/Danses dont la prochaine édition est programmée pour novembre -->
        <!-- 2011. Quant à La Raffinerie, antenne « laboratoire » de Charleroi/Danses -->
        <!-- consacrée plus particulièrement aux professionnels du secteur, elle -->
        <!-- propose à ces derniers le Training Programme, entraînement régulier -->
        <!-- dispensé par des danseurs reconnus sur le plan international. Cette -->
        <!-- année, elle accueillera en ses divers espaces la Compil d’Avril pour sa -->
        <!-- 3e édition. <br /><div class="signature">Vincent Thirion, co-Directeur -->
        <!-- de Charleroi-Danses</div></p><br /> -->
        <br/><br/><br/>
        <p class='partenaire'><a style="float: left"
                                 href="http://www.cfwb.be/" target='_blank'><img class='logo'
                                                                                 src={{ asset('logos/logo_ch_dans.png') }} alt='cf'></a>

            <!-- <b>Le Centre chorégraphique de la Communauté française Wallonie-Bruxelles</b> est issu de
            l’ancien Ballet royal de Wallonie et s’est orienté de manière radicale
            vers la création contemporaine. Institution de référence, non seulement
            en Communauté française Wallonie-Bruxelles mais également sur le plan
            international, Charleroi/Danses est dirigé depuis 2006 par un quatuor
            artistique composé de Michèle Anne De Mey, Pierre Droulers, Thierry De
            Mey et Vincent Thirion. Les activités de Charleroi/Danses se déroulent
            aux Écuries, ancien manège de la gendarmerie (Charleroi) et à La
            Raffinerie, ancienne raffinerie de sucre Gräffe (Bruxelles). Les Ecuries
            accueillent chaque saison plus de 20 spectacles de danse contemporaine.
            Elles sont par ailleurs l’un des sièges de la Biennale de
            Charleroi/Danses. Quant à La Raffinerie, antenne « laboratoire » de Charleroi/Danses
            consacrée plus particulièrement aux professionnels du secteur, elle
            propose à ces derniers le Training Programme, entraînement régulier
            dispensé par des danseurs reconnus sur le plan international.
             <br /><div class="signature">Vincent Thirion, co-Directeur
            de Charleroi-Danses</div></p><br /> --->
            <b>

                Charleroi Danses, Centre chorégraphique de la Fédération Wallonie-Bruxelles </b>
            est issu de l'ancien Ballet royal de Wallonie et s'est orienté de manière radicale
            vers la création contemporaine. Frédéric Flamand l'a dirigé de 1991 à 2004 et
            en a fait une institution de référence, non seulement en Communauté française Wallonie-Bruxelles
            mais également sur le plan international.

            Il est dirigé depuis 2006 par Vincent Thirion, Intendant général et directeur artistique
            et compte trois artistes associés - <b>Michèle Anne De Mey, Pierre Droulers</b> et <b>Thierry De Mey</b>
            - qui aux côtés de ce dernier, contribuent à forger les orientations et la politique
            artistique du Centre.

            Charleroi Danses compte entre autres activités la mise sur pied d’une programmation
            artistique (saison, Danseur, Biennale,…), la production et la diffusion des œuvres
            de ses artistes associés, l’accompagnement et l’aide à la diffusion de ses quatre
            artistes en résidence (<b>Louise Vanneste, Thomas Hauert, Peter Savel</b> et <b>Anton Lachky</b>),
            l’organisation d’une formation continue pour danseurs professionnels
            (<b>Training Programme</b>) ainsi que la mise sur pied d’une série d’actions de
            sensibilisation à la danse avec les écoles de la région du Hainaut.
            <br/>
            <div class="signature">Vincent Thirion, Intendant général
            </div>
        </p>
        <br/>

        <p class='partenaire'><a style="float: left" href="http://www.be"
                                 target='_blank'><img class='logo'
                                                      src={{ asset('logos/logo_vect.png') }} alt='rw'>
            </a> <b>Nous remercions </b>
            <!--
            Merci d’abord aux actrices et acteurs, danseuses et danseurs, chorégraphes,  metteurs en scène et  artisans des arts de la scène- auxquels cette cérémonie est dédiée. Merci à notre fidèle sponsor institutionnel, Mme. la Ministre de la Culture, Fadila Laanan, son cabinet et son administration. Merci à Vincent Thirion Directeur/Programmateur  de Charleroi Danses qui nous accueille cette année et à la Bellone qui nous apporte son soutien logistique. Merci enfin à Baudouin Tamines et Michèle Friche qui, ont créé depuis 5 ans un site www.lesprixdelacritique.be  qui donne davantage de visibilité, de modernité et de perspective historique à ces prix et surtout aux acteurs des arts de la scène belge ( théâtre et danse). Vous y retrouvez tous les lauréats depuis 1952 : nous fêtons cette année le  60è  anniversaire de ce prix d’abord baptisé «  Eves du théâtre ».<br /><div class="signature">Christian Jade,
            Président de l’ASBL Prix de la Critique Théâtre-Danse</div></p>

            Aux actrices et acteurs, danseuses et danseurs, chorégraphes, metteuses/metteurs en scène et artisan(e)s des arts de la scène à qui cette cérémonie rend hommage.

            Au Théâtre National, à son directeur Jean-Louis Colinet et son équipe (Yvan Harcq, Guillaume Stasse, Mathieu Bourdon, Nadine Lamotte, Sophie Dupavé) d’avoir organisé avec passion et précision la cérémonie.

            Au groupe TIBIDI (Ariane Rousseau, Julie Leyder, Muriel Legrand, accompagnées par Jean- François Breuer) d’en avoir assuré l’animation musicale live.

            A nos fidèles sponsors institutionnels

            - Mme Fadila Laanan, Ministre de la Culture de la Fédération Wallonie Bruxelles jusqu’en juillet 2014 et son conseiller théâtre Pol Maréchal, qui ont soutenu nos efforts durant 10 ans.
            - Mme Joelle Milquet, Ministre de la Culture de la Fédération Wallonie Bruxelles, son cabinet et son conseiller théâtre Thomas Prédour.
            - L’Administration de la Fédération Wallonie Bruxelles.
            - M. Frédéric Delcor, Secrétaire Général
            - M. Freddy Cabaraux, Directeur général faisant fonction
            - M. Jean-Philippe Van Aalbroeck, Directeur général adjoint.
            - M. André-Marie Poncelet, Administrateur général.
            - Mme Carole Bonbled, Directrice du service général des Arts de la Scène

            A La Bellone et à Charleroi/Danses, pour leur aide précieuse dans le repérage des invités et l’envoi des lettres d’invitation.

            La Bellone
            -Mme Barbara Coeckelberghs, Directrice ff.
            -Mme Jocelyne Philippekin, responsable du Centre de ressources du théâtre.
            -M. Didier De Bakker, membre du Centre de ressources du théâtre

             Charleroi/Danses
            -Vincent Thirion, Intendant général
            -Laurence Baurain, assistante et Tatiana Madej, chargée de communication.

            Aux créateurs du site www.prixdelacritique.be
            Baudouin Tamines et Michèle Friche, un site qui permet la visibilité des lauréats de 1952 à 2014.
            Aux actrices et acteurs, danseuses et danseurs, chorégraphes, metteuses/metteurs en scène et artisan(e)s des arts de la scène à qui cette cérémonie rend hommage. 

            Au Manège.Mons et à Mons 2015 qui nous hébergent et coorganisent la cérémonie  (Yves Vasseur, Daniel Cordova, Sandrine Plennevaux, Hélène Vandewalle). 

            A Gwen Berrou et au groupe Rocking Chair qui l’animent (Julien Rasetti, Maria Seminara). 

            A nos fidèles sponsors institutionnels: Mme Joëlle Milquet, Ministre de la Culture de la Fédération Wallonie Bruxelles, son cabinet et son conseiller théâtre Thomas Prédour.

            A l’administration de la Fédération Wallonie Bruxelles. M. Frédéric Delcor, Secrétaire Général, M. Jean-Philippe Van Aalbroeck, Directeur général adjoint,  M. André-Marie Poncelet, Administrateur général, Mme  Carole Bonbled, Directrice du service général des Arts de la Scène 

            A La Bellone ( Mme Mylène Lauzon, Directrice et Christine Godart, du Centre de ressources du théâtre) et à Charleroi/Danses (Vincent Thirion, Intendant général, Laurence Baurain, assistante et Tatiana Madej, chargée de communication) pour leur aide précieuse dans le repérage des invités et l’envoi des lettres d’invitation.

            Aux créateurs du site www.prixdelacritique.be Baudouin Tamines et Michèle Friche, un site qui permet la visibilité des lauréats de 1952 à 2015.
            -->
        <p>
            Les actrices et acteurs, danseuses et danseurs, chorégraphes, metteuses/metteurs en scène et
            artisan(e)s des arts de la scène à qui cette cérémonie rend hommage.
            Le Théâtre National, son directeur Fabrice Murgia et ses équipes pour avoir organisé la cérémonie.
            Isabelle Wéry et Christophe Morrisset pour avoir animé la soirée.
            Joris Baltz pour sa prestation.</p>
        <p>Nos fidèles sponsors institutionnels
            Mme Alda Gréoli, Ministre de la Culture de la Fédération Wallonie-Bruxelles, son cabinet et son conseiller
            théâtre Thomas Prédour.
            l’Administration de la Fédération Wallonie Bruxelles.
            M. Frédéric Delcor, Secrétaire Général
            M. Jean-Philippe Van Aalbroeck, Directeur général adjoint.
            M. André-Marie Poncelet, Administrateur général.
            Mme Carole Bonbled, Directrice du service général des Arts de la Scène</p>
        <p>La Bellone - Mme Mylène Lauzon, Directrice, Mme Christine Godart du Centre de ressources du
            théâtre et Charleroi/Danses - M. Vincent Thirion, Intendant général, Mmes Laurence Baurain,
            assistante et Tatiana Madej, chargée de communication, pour leur aide précieuse dans le
            repérage des invités et l’envoi des lettres d’invitation</p>
        <br/><br/>
        <!--
        <p class='partenaire'><b>Soutiens institutionnels  du Prix de la
        Critique Théâtre /Danse 2011-2012</b><br />
        Mme. Fadila Laanan, Ministre de la Culture, de l’Audiovisuel, de la Santé et de l’Egalité des
        Chances, M. Frédéric Delcor, Secrétaire Général de la Fédération Wallonie Bruxelles, Mesdames
        Christine Guillaume, Directrice Générale et Carole Bonbled, Directrice du service théâtre de la
        Fédération Wallonie Bruxelles, Mme Jocelyne Philippekin et son équipe, responsable du Centre de
        Ressources Théâtre à La Bellone.</p>
        </div>
        -->

    {#</div>#}
{#</div>#}
{% endblock %}
