body {
  font-size: 1.7rem !important;
  line-height: 2rem !important;
  background-image: url("../images/2016-globe.jpg");
  background-repeat: no-repeat;
  background-position: 50% 9.6rem;
  /* optional, center the image */
  background-attachment: fixed;
  min-height: 1440px;
  margin-top: 50px;
}
@media only screen and (max-width: 480px) {
  .titrePage {
    display: none !important;
  }
  .galleria {
    max-width: 100% !important;
    height: 100% !important;
    background: #000;
  }
}
h1 {
  color: #D34953 !important;
  font-size: 4rem !important;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
}
h2 {
  color: #D87E32 !important;
}
h3 {
  color: #D87E32;
}
.menu {
  background: #F2ECE0;
}
.logo {
  margin-top: -15px;
  margin-left: -15px;
  height: 50px;
}
.navbar,
.navbar-default,
.navbar-fixed-top {
  margin: 0 !important;
  padding: 0 !important;
}
.signature {
  font-style: oblique !important;
  font-weight: bold;
}
a {
  outline: none !important;
  text-decoration: none !important;
}
a:hover {
  color: #E66700 !important;
  font-weight: bolder;
}
a:link {
  color: #470D05 !important;
}
a:visited {
  color: #470D05 !important;
}
.contenu {
  position: relative !important;
  z-index: 10 !important;
  margin-top: 15rem;
  color: #470D05;
}
.container-fluid {
  position: relative !important;
  z-index: 10 !important;
  margin-top: 15rem;
  color: #470D05;
}
.transparent {
  background-color: #F2ECE0 !important;
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  opacity: .8 !important;
  padding: 0 4rem !important;
}
.rounded {
  border-radius: 25px;
  border: dotted grey 1px;
  padding: 3rem 3rem 3rem 1rem;
}
.galleria-stage {
  height: 500px;
  position: absolute;
  top: 10px;
  bottom: 60px;
  left: 10px;
  right: 10px;
  overflow: hidden;
}
li {
  display: block;
}
.jury li {
  display: inline-block;
}
.elu {
  background-color: #D9B989;
}
.galleria {
  max-width: 800px;
  height: 533px;
  background: #000;
}
